{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_media/embed/body/media_details_body

    Media preview body template.

    Example context (json):
    {
    }

}}
<div class="row">
    <div class="col-md-6 text-right">
        <button class="link_as_audio btn mr-2" title="{{#str}}audio, tiny_media{{/str}}">
            <i class="fa fa-file-audio"></i>
            <br>
            <span>{{#str}}audio, tiny_media{{/str}}</span>
        </button>
    </div>
    <div class="col-md-6">
        <button class="link_as_video btn ml-2" title="{{#str}}video, tiny_media{{/str}}">
            <i class="fa fa-file-video"></i>
            <br>
            <span>{{#str}}video, tiny_media{{/str}}</span>
        </button>
    </div>
</div>