{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template aiplacement_courseassist/actions_dropdown

    Template to display AI action in a dropdown for the course assist.

    Context variables required for this template:
    * action - The action to perform
    * label - The button label/text to display
    * title - The button tooltip to display

    Example context (json):
    {
        "actions": [
            {
                "action": "explain",
                "buttontext": "Explain",
                "title": "Create an AI-generated explanation of the page content"
            }
        ]
    }
}}

<div id="#ai-features" class="course-assist-controls py-3">
    <button class="btn btn-outline-secondary dropdown-toggle ai-action"
            type="button"
            title="{{#str}} aifeatures, aiplacement_courseassist {{/str}}"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
    >
        <span class="ai-course-assist-sparkles-icon">
            {{#pix}} sparkles, aiplacement_courseassist {{/pix}}
        </span>
        <span class="ai-course-assist-sparkles-icon white">
            {{#pix}} sparkles-white, aiplacement_courseassist {{/pix}}
        </span>
        {{#str}} aifeatures, aiplacement_courseassist {{/str}}
    </button>
    <div class="dropdown-menu">
        {{#actions}}
            <button
                class="dropdown-item ai-action"
                type="button"
                title="{{title}}"
                data-action="{{action}}"
                data-toggle="tooltip"
                data-html="true"
                aria-controls="ai-drawer"
            >{{buttontext}}</button>
        {{/actions}}
    </div>
</div>
