{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_accessibilitychecker/warning_content

    Display a content warning message

    Example context (json):
    {
        "warnings": [
            {
                "description": "This is a warning message",
                "nodeData": [{
                    "text": "Text of content",
                    "src": "https://example.com/image.png",
                    "nodeName": "IMG",
                    "nodeIndex": 0
                }]
            }
        ]
    }
}}

<div class="tab-content row mt-2" id="myTabContent">
    <div class="col-md-5 d-flex" id="bibliography-info-holder">
        <form id="bibliography-form" onsubmit="return false;">
            {{> tiny_bibliography/style_resource }}
            <div class="biblio-pannel" id="main-input-fields">
                {{> tiny_bibliography/forms/field }}
            </div>
            <div class="biblio-pannel biblio-bottom-pannel mt-3" id="bibliography-ie-panel"></div>
            <div id="generate-button" class="form-group row mt-4 fitem">
                <div class="col-md-4 checkbox">
                    <input type="checkbox" id="id_other_fields" data-action="show-other-fields">
                    <label for="id_other_fields">
                        {{#str}} label:allfields, tiny_bibliography {{/str}}
                    </label>
                </div>
                <div class="col-md-8 form-button" id="id-button-container">
                    <button class="btn btn-primary mb-1" id="id-generate" data-action="generate-list">
                        <span id="id-generate-label">{{#str}} button:generate, tiny_bibliography {{/str}}</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-7 d-flex">
        <div class="biblio-list-container" id="bibliography-info-list-holder">
            <h3 class="mb-4">
                <span>{{#str}} pluginname, tiny_bibliography {{/str}}</span>
            </h3>
            <span>{{#str}} nobibliographyyet, tiny_bibliography {{/str}}</span>
        </div>
    </div>
</div>
