{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_accessibilitychecker/style_resource

    Display input fields of style_resource source
}}

<div class="biblio-pannel p-2 mb-3">
    <div class="row fitem p-2">
        <div class="col-3 col-form-label d-flex pb-0 pe-0">
            <label class="d-inline word-break " for="id_bibliography_style">
                {{#str}} label:style, tiny_bibliography {{/str}}
            </label>
        </div>

        <div class="col-9 align-items-start felement" data-fieldtype="text">
            <select class="form-select w-100" data-name="style" data-action="select-style" id="id_bibliography_style">
                {{#styles}}
                    <option value="{{name}}" {{#isSetDefault}}selected{{/isSetDefault}}>{{label}}</option>
                {{/styles}}
            </select>
        </div>
    </div>

    <div class="row fitem p-2 mt-2">
        <div class="col-3 col-form-label d-flex pb-0 pe-0">
            <label class="d-inline word-break " for="id_bibliography_source">
                {{#str}} label:source, tiny_bibliography {{/str}}
            </label>
        </div>

        <div class="col-9 align-items-start felement" data-fieldtype="text">
            <select class="form-select w-100" data-name="source" data-action="select-source" id="id_bibliography_source">
                {{#sources}}
                    <option value="{{name}}" {{#isSetDefault}}selected{{/isSetDefault}}>{{label}}</option>
                {{/sources}}
            </select>
        </div>
    </div>
</div>