{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_bibliography/view_in_modal

    Display a content warning message

    Example context (json):
    {
        "warnings": [
            {
                "description": "This is a warning message",
                "nodeData": [{
                    "text": "Text of content",
                    "src": "https://example.com/image.png",
                    "nodeName": "IMG",
                    "nodeIndex": 0
                }]
            }
        ]
    }
}}
{{#heading}}
    <h3 class="mb-4">{{{bio}}}</h3>
{{/heading}}
{{^heading}}
    <div class="bl-container" id="id-{{id}}">
        <div class="bibliography-list d-flex mb-1" id={{id}} data-index={{index}} data-action="edit-bibliography">
            <span class="d-flex mb-0 me-2">
                {{{bio}}}
            </span>
            <button class="btn btn-sm btn-outline-success bibliography-list-buttons"
                data-action="cite-this"
                data-id="{{id}}"
                data-index="{{index}}"
                data-object='{{dataobject}}'>
                <i class="fa fa-solid fa-quote-right"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger ms-1 bibliography-list-buttons"
                data-action="delete-bibliography"
                data-target-id="{{id}}"
                data-index="{{index}}">
                <i class="fa fa-solid fa-trash"></i>
            </button>
        </div>
    </div>
{{/heading}}
