{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_accessibilitychecker/warning_content

    Display a content warning message

    Example context (json):
    {
        "warnings": [
            {
                "description": "This is a warning message",
                "nodeData": [{
                    "text": "Text of content",
                    "src": "https://example.com/image.png",
                    "nodeName": "IMG",
                    "nodeIndex": 0
                }]
            }
        ]
    }
}}

<button class="btn btn-warning mb-1" id="id-reset" data-action="reset-form">
    <span id="id-reset-label mb-1">{{#str}} button:reset, tiny_bibliography {{/str}}</span>
</button>
<button class="btn btn-success mb-1" id="id-save" data-action="save-list">
    <span id="id-save-label">{{#str}} button:save, tiny_bibliography {{/str}}</span>
</button>
<button class="btn btn-danger mb-1" id="id-delete" data-index={{index}} data-target-id="{{id}}" data-action="delete-bio">
    <span id="id-delete-label">{{#str}} button:delete, tiny_bibliography {{/str}}</span>
</button>
