{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_media/embed_media_modal_audio

    Embed media audio modal template.

    Example context (json):
    {

    }
}}
<div class="{{CSS.SOURCE}} {{CSS.MEDIA_SOURCE}}">
    <div class="mb-1">
        <label for="url-input">
            {{#str}} audiosourcelabel, tiny_media {{/str}}
        </label>
        <div class="input-group input-append w-100">
            <input id="url-input" class="form-control {{CSS.URL_INPUT}}" type="url" size="32"/>
            <span class="input-group-append">
                <button class="btn btn-secondary openmediabrowser" type="button">{{#str}} browserepositories, tiny_media {{/str}}</button>
            </span>
        </div>
    </div>
    <div class="addcomponent-wrapper">
        <a href="#" class="addcomponent">
            {{#str}} addsource, tiny_media {{/str}}
        </a>
        {{#addsourcehelpicon}}
            {{> core/help_icon }}
        {{/addsourcehelpicon}}
    </div>
    <div class="removecomponent-wrapper hidden">
        <a href="#" class="removecomponent">
            {{#str}} remove, tiny_media {{/str}}
        </a>
    </div>
</div>
<fieldset class="collapsible collapsed" id="{{elementid}}_audio-display-options">
    <input name="mform_isexpanded_{{elementid}}_audio-display-options" type="hidden">
    <legend class="d-flex align-items-center px-1">
        <div class="position-relative d-flex ftoggler align-items-center position-relative mr-1">
            <a role="button" data-toggle="collapse" href="#adisplayoptions" aria-expanded="false"
               aria-controls="adisplayoptions"
               class="btn btn-icon mr-1 icons-collapse-expand stretched-link fheader collapsed">
            <span class="expanded-icon icon-no-margin p-2" title="{{#str}} collapse, moodle {{/str}}">
                                <i class="icon fa fa-chevron-down fa-fw " aria-hidden="true"></i>
                            </span>
                <span class="collapsed-icon icon-no-margin p-2" title="{{#str}} expand, moodle {{/str}}">
                                <span class="dir-rtl-hide">
                                    <i class="icon fa fa-chevron-right fa-fw " aria-hidden="true"></i>
                                </span>
                                <span class="dir-ltr-hide">
                                    <i class="icon fa fa-chevron-left fa-fw " aria-hidden="true"></i>
                                </span>
                            </span>
                <span class="sr-only">{{#str}} displayoptions, tiny_media {{/str}}</span>
            </a>
            <h3 class="d-flex align-self-stretch align-items-center mb-0" aria-hidden="true">
                {{#str}} displayoptions, tiny_media {{/str}}
            </h3>
        </div>
    </legend>
    <div id="adisplayoptions" class="fcontainer collapseable collapse px-1">
        <div class="{{CSS.DISPLAY_OPTIONS}}">
            <div class="mb-1">
                <label for="adisplayoptions_media-title-entry">{{#str}} entertitle, tiny_media {{/str}}</label>
                <input class="form-control fullwidth {{CSS.TITLE_INPUT}}" type="text" id="adisplayoptions_media-title-entry"
                       size="32"/>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="collapsible collapsed" id="{{elementid}}_audio-advanced-settings">
    <input name="mform_isexpanded_{{elementid}}_audio-advanced-settings" type="hidden">
    <legend class="d-flex align-items-center px-1">
        <div class="position-relative d-flex ftoggler align-items-center position-relative mr-1">
            <a role="button" data-toggle="collapse" href="#aadvancedsettings" aria-expanded="false"
               aria-controls="aadvancedsettings"
               class="btn btn-icon mr-1 icons-collapse-expand stretched-link fheader collapsed">
            <span class="expanded-icon icon-no-margin p-2" title="{{#str}} collapse, moodle {{/str}}">
                                <i class="icon fa fa-chevron-down fa-fw " aria-hidden="true"></i>
                            </span>
                <span class="collapsed-icon icon-no-margin p-2" title="{{#str}} expand, moodle {{/str}}">
                                <span class="dir-rtl-hide">
                                    <i class="icon fa fa-chevron-right fa-fw " aria-hidden="true"></i>
                                </span>
                                <span class="dir-ltr-hide">
                                    <i class="icon fa fa-chevron-left fa-fw " aria-hidden="true"></i>
                                </span>
                            </span>
                <span class="sr-only">{{#str}} advancedsettings, tiny_media {{/str}}</span>
            </a>
            <h3 class="d-flex align-self-stretch align-items-center mb-0" aria-hidden="true">
                {{#str}} advancedsettings, tiny_media {{/str}}
            </h3>
        </div>
    </legend>
    <div id="aadvancedsettings" class="fcontainer collapseable collapse px-1">
        <div class="{{CSS.ADVANCED_SETTINGS}}">
            <div class="form-check">
                <input type="checkbox" checked="true" class="form-check-input {{CSS.MEDIA_CONTROLS_TOGGLE}}"
                       id="aadvancedsettings_media-controls-toggle"/>
                <label class="form-check-label" for="aadvancedsettings_media-controls-toggle">
                    {{#str}} controls, tiny_media {{/str}}
                </label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input {{CSS.MEDIA_AUTOPLAY_TOGGLE}}"
                       id="aadvancedsettings_media-autoplay-toggle"/>
                <label class="form-check-label" for="aadvancedsettings_media-autoplay-toggle">
                    {{#str}} autoplay, tiny_media {{/str}}
                </label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input {{CSS.MEDIA_MUTE_TOGGLE}}"
                       id="vadvancedsettings_media-mute-toggle"/>
                <label class="form-check-label" for="vadvancedsettings_media-mute-toggle">
                    {{#str}} mute, tiny_media {{/str}}
                </label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input {{CSS.MEDIA_LOOP_TOGGLE}}"
                       id="vadvancedsettings_media-loop-toggle"/>
                <label class="form-check-label" for="aadvancedsettings_media-loop-toggle">
                    {{#str}} loop, tiny_media {{/str}}
                </label>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="collapsible collapsed" id="{{elementid}}_audio-tracks">
    <input name="mform_isexpanded_{{elementid}}_audio-tracks" type="hidden">
    <legend class="d-flex align-items-center px-1">
        <div class="position-relative d-flex ftoggler align-items-center position-relative mr-1">
            <a role="button" data-toggle="collapse" href="#atracks" aria-expanded="false"
               aria-controls="atracks"
               class="btn btn-icon mr-1 icons-collapse-expand stretched-link fheader collapsed">
            <span class="expanded-icon icon-no-margin p-2" title="{{#str}} collapse, moodle {{/str}}">
                                <i class="icon fa fa-chevron-down fa-fw " aria-hidden="true"></i>
                            </span>
                <span class="collapsed-icon icon-no-margin p-2" title="{{#str}} expand, moodle {{/str}}">
                                <span class="dir-rtl-hide">
                                    <i class="icon fa fa-chevron-right fa-fw " aria-hidden="true"></i>
                                </span>
                                <span class="dir-ltr-hide">
                                    <i class="icon fa fa-chevron-left fa-fw " aria-hidden="true"></i>
                                </span>
                            </span>
                <span class="sr-only">{{#str}} tracks, tiny_media {{/str}}</span>
            </a>
            <h3 class="d-flex align-self-stretch align-items-center mb-0" aria-hidden="true">
                {{#str}} tracks, tiny_media {{/str}}
            </h3>
        </div>
        {{#trackshelpicon}}
            {{> core/help_icon }}
        {{/trackshelpicon}}
    </legend>
    <div id="atracks" class="fcontainer collapseable collapse px-1">
        <ul class="nav nav-tabs mb-3">
            <li data-track-kind="{{CSS.TRACK_SUBTITLES}}" class="nav-item">
                <a class="nav-link active" href="#{{elementid}}_atracks_{{CSS.TRACK_SUBTITLES}}"
                   role="tab" data-toggle="tab">
                    {{#str}} subtitles, tiny_media {{/str}}
                </a>
            </li>
            <li data-track-kind="{{CSS.TRACK_CAPTIONS}}" class="nav-item">
                <a class="nav-link" href="#{{elementid}}_atracks_{{CSS.TRACK_CAPTIONS}}" role="tab" data-toggle="tab">
                    {{#str}} captions, tiny_media {{/str}}
                </a>
            </li>
            <li data-track-kind="{{CSS.TRACK_DESCRIPTIONS}}" class="nav-item">
                <a class="nav-link" href="#{{elementid}}_atracks_{{CSS.TRACK_DESCRIPTIONS}}"
                   role="tab" data-toggle="tab">
                    {{#str}} descriptions, tiny_media {{/str}}
                </a>
            </li>
            <li data-track-kind="{{CSS.TRACK_CHAPTERS}}" class="nav-item">
                <a class="nav-link" href="#{{elementid}}_atracks_{{CSS.TRACK_CHAPTERS}}" role="tab" data-toggle="tab">
                    {{#str}} chapters, tiny_media {{/str}}
                </a>
            </li>
            <li data-track-kind="{{CSS.TRACK_METADATA}}" class="nav-item">
                <a class="nav-link" href="#{{elementid}}_atracks_{{CSS.TRACK_METADATA}}" role="tab" data-toggle="tab">
                    {{#str}} metadata, tiny_media {{/str}}
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div data-track-kind="{{CSS.TRACK_SUBTITLES}}" class="tab-pane active"
                 id="{{elementid}}_atracks_{{CSS.TRACK_SUBTITLES}}">
                <div class="trackhelp">
                    {{#subtitleshelpicon}}
                        {{> core/help_icon }}
                    {{/subtitleshelpicon}}
                </div>
                <div class="mb-1 {{CSS.TRACK}}">
                    <div class="{{CSS.SOURCE}} {{CSS.TRACK_SOURCE}}">
                        <div class="mb-1">
                            <label for="url-input">
                                {{#str}} subtitlessourcelabel, tiny_media {{/str}}
                            </label>
                            <div class="input-group input-append w-100">
                                <input id="url-input" class="form-control {{CSS.URL_INPUT}}" type="url" size="32"/>
                                <span class="input-group-append">
                <button class="btn btn-secondary openmediabrowser" type="button">{{#str}} browserepositories, tiny_media {{/str}}</button>
            </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="w-100" for="lang-input">{{#str}} srclang, tiny_media {{/str}}</label>
                        <select id="lang-input" class="custom-select {{CSS.TRACK_LANG_INPUT}}">
                            <optgroup label="{{#str}} languagesinstalled, tiny_media {{/str}}">
                                {{#langsinstalled}}
                                    <option value="{{code}}" {{#default}}selected="selected"{{/default}}>{{lang}}</option>
                                {{/langsinstalled}}
                            </optgroup>
                            <optgroup label="{{#str}} languagesavailable, tiny_media {{/str}} ">
                                {{#langsavailable}}
                                    <option value="{{code}}">{{lang}}</option>
                                {{/langsavailable}}
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="w-100" for="track-input">{{#str}} label, tiny_media {{/str}}</label>
                        <input id="track-input" class="form-control {{CSS.TRACK_LABEL_INPUT}}" type="text"/>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input {{CSS.TRACK_DEFAULT_SELECT}}"/>
                        <label class="form-check-label">{{#str}} default, tiny_media {{/str}}</label>
                    </div>
                    <div class="addcomponent-wrapper">
                        <a href="#" class="addcomponent">
                            {{#str}} addsubtitlestrack, tiny_media {{/str}}
                        </a>
                    </div>
                    <div class="removecomponent-wrapper hidden">
                        <a href="#" class="removecomponent">
                            {{#str}} remove, tiny_media {{/str}}
                        </a>
                    </div>
                </div>
            </div>
            <div data-track-kind="{{CSS.TRACK_CAPTIONS}}" class="tab-pane"
                 id="{{elementid}}_atracks_{{CSS.TRACK_CAPTIONS}}">
                <div class="trackhelp">
                    {{#captionshelpicon}}
                        {{> core/help_icon }}
                    {{/captionshelpicon}}
                </div>
                <div class="mb-1 {{CSS.TRACK}}">
                    <div class="{{CSS.SOURCE}} {{CSS.TRACK_SOURCE}}">
                        <div class="mb-1">
                            <label for="url-input">
                                {{#str}} captionssourcelabel, tiny_media {{/str}}
                            </label>
                            <div class="input-group input-append w-100">
                                <input id="url-input" class="form-control {{CSS.URL_INPUT}}" type="url" size="32"/>
                                <span class="input-group-append">
                <button class="btn btn-secondary openmediabrowser" type="button">{{#str}} browserepositories, tiny_media {{/str}}</button>
            </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="w-100" for="lang-input">{{#str}} srclang, tiny_media {{/str}}</label>
                        <select id="lang-input" class="custom-select {{CSS.TRACK_LANG_INPUT}}">
                            <optgroup label="{{#str}} languagesinstalled, tiny_media {{/str}}">
                                {{#langsinstalled}}
                                    <option value="{{code}}" {{#default}}selected="selected"{{/default}}>{{lang}}</option>
                                {{/langsinstalled}}
                            </optgroup>
                            <optgroup label="{{#str}} languagesavailable, tiny_media {{/str}} ">
                                {{#langsavailable}}
                                    <option value="{{code}}">{{lang}}</option>
                                {{/langsavailable}}
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="w-100" for="track-input">{{#str}} label, tiny_media {{/str}}</label>
                        <input id="track-input" class="form-control {{CSS.TRACK_LABEL_INPUT}}" type="text"/>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input {{CSS.TRACK_DEFAULT_SELECT}}"/>
                        <label class="form-check-label">{{#str}} default, tiny_media {{/str}}</label>
                    </div>
                    <div class="addcomponent-wrapper">
                        <a href="#" class="addcomponent">
                            {{#str}} addcaptionstrack, tiny_media {{/str}}
                        </a>
                    </div>
                    <div class="removecomponent-wrapper hidden">
                        <a href="#" class="removecomponent">
                            {{#str}} remove, tiny_media {{/str}}
                        </a>
                    </div>
                </div>
            </div>
            <div data-track-kind="{{CSS.TRACK_DESCRIPTIONS}}" class="tab-pane"
                 id="{{elementid}}_atracks_{{CSS.TRACK_DESCRIPTIONS}}">
                <div class="trackhelp">
                    {{#descriptionshelpicon}}
                        {{> core/help_icon }}
                    {{/descriptionshelpicon}}
                </div>
                <div class="mb-1 {{CSS.TRACK}}">
                    <div class="{{CSS.SOURCE}} {{CSS.TRACK_SOURCE}}">
                        <div class="mb-1">
                            <label for="url-input">
                                {{#str}} descriptionssourcelabel, tiny_media {{/str}}
                            </label>
                            <div class="input-group input-append w-100">
                                <input id="url-input" class="form-control {{CSS.URL_INPUT}}" type="url" size="32"/>
                                <span class="input-group-append">
                <button class="btn btn-secondary openmediabrowser" type="button">{{#str}} browserepositories, tiny_media {{/str}}</button>
            </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="w-100" for="lang-input">{{#str}} srclang, tiny_media {{/str}}</label>
                        <select id="lang-input" class="custom-select {{CSS.TRACK_LANG_INPUT}}">
                            <optgroup label="{{#str}} languagesinstalled, tiny_media {{/str}}">
                                {{#langsinstalled}}
                                    <option value="{{code}}" {{#default}}selected="selected"{{/default}}>{{lang}}</option>
                                {{/langsinstalled}}
                            </optgroup>
                            <optgroup label="{{#str}} languagesavailable, tiny_media {{/str}} ">
                                {{#langsavailable}}
                                    <option value="{{code}}">{{lang}}</option>
                                {{/langsavailable}}
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="w-100" for="track-input">{{#str}} label, tiny_media {{/str}}</label>
                        <input id="track-input" class="form-control {{CSS.TRACK_LABEL_INPUT}}" type="text"/>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input {{CSS.TRACK_DEFAULT_SELECT}}"/>
                        <label class="form-check-label">{{#str}} default, tiny_media {{/str}}</label>
                    </div>
                    <div class="addcomponent-wrapper">
                        <a href="#" class="addcomponent">
                            {{#str}} adddescriptionstrack, tiny_media {{/str}}
                        </a>
                    </div>
                    <div class="removecomponent-wrapper hidden">
                        <a href="#" class="removecomponent">
                            {{#str}} remove, tiny_media {{/str}}
                        </a>
                    </div>
                </div>
            </div>
            <div data-track-kind="{{CSS.TRACK_CHAPTERS}}" class="tab-pane"
                 id="{{elementid}}_atracks_{{CSS.TRACK_CHAPTERS}}">
                <div class="trackhelp">
                    {{#chaptershelpicon}}
                        {{> core/help_icon }}
                    {{/chaptershelpicon}}
                </div>
                <div class="mb-1 {{CSS.TRACK}}">
                    <div class="{{CSS.SOURCE}} {{CSS.TRACK_SOURCE}}">
                        <div class="mb-1">
                            <label for="url-input">
                                {{#str}} chapterssourcelabel, tiny_media {{/str}}
                            </label>
                            <div class="input-group input-append w-100">
                                <input id="url-input" class="form-control {{CSS.URL_INPUT}}" type="url" size="32"/>
                                <span class="input-group-append">
                <button class="btn btn-secondary openmediabrowser" type="button">{{#str}} browserepositories, tiny_media {{/str}}</button>
            </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="w-100" for="lang-input">{{#str}} srclang, tiny_media {{/str}}</label>
                        <select id="lang-input" class="custom-select {{CSS.TRACK_LANG_INPUT}}">
                            <optgroup label="{{#str}} languagesinstalled, tiny_media {{/str}}">
                                {{#langsinstalled}}
                                    <option value="{{code}}" {{#default}}selected="selected"{{/default}}>{{lang}}</option>
                                {{/langsinstalled}}
                            </optgroup>
                            <optgroup label="{{#str}} languagesavailable, tiny_media {{/str}} ">
                                {{#langsavailable}}
                                    <option value="{{code}}">{{lang}}</option>
                                {{/langsavailable}}
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="w-100" for="track-input">{{#str}} label, tiny_media {{/str}}</label>
                        <input id="track-input" class="form-control {{CSS.TRACK_LABEL_INPUT}}" type="text"/>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input {{CSS.TRACK_DEFAULT_SELECT}}"/>
                        <label class="form-check-label">{{#str}} default, tiny_media {{/str}}</label>
                    </div>
                    <div class="addcomponent-wrapper">
                        <a href="#" class="addcomponent">
                            {{#str}} addchapterstrack, tiny_media {{/str}}
                        </a>
                    </div>
                    <div class="removecomponent-wrapper hidden">
                        <a href="#" class="removecomponent">
                            {{#str}} remove, tiny_media {{/str}}
                        </a>
                    </div>
                </div>
            </div>
            <div data-track-kind="{{CSS.TRACK_METADATA}}" class="tab-pane"
                 id="{{elementid}}_atracks_{{CSS.TRACK_METADATA}}">
                <div class="trackhelp">{{{helpStrings.metadata}}}</div>
                <div class="trackhelp">
                    {{#metadatahelpicon}}
                        {{> core/help_icon }}
                    {{/metadatahelpicon}}
                </div>
                <div class="mb-1 {{CSS.TRACK}}">
                    <div class="{{CSS.SOURCE}} {{CSS.TRACK_SOURCE}}">
                        <div class="mb-1">
                            <label for="url-input">
                                {{#str}} metadatasourcelabel, tiny_media {{/str}}
                            </label>
                            <div class="input-group input-append w-100">
                                <input id="url-input" class="form-control {{CSS.URL_INPUT}}" type="url" size="32"/>
                                <span class="input-group-append">
                <button class="btn btn-secondary openmediabrowser" type="button">{{#str}} browserepositories, tiny_media {{/str}}</button>
            </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="w-100" for="lang-input">{{#str}} srclang, tiny_media {{/str}}</label>
                        <select id="lang-input" class="custom-select {{CSS.TRACK_LANG_INPUT}}">
                            <optgroup label="{{#str}} languagesinstalled, tiny_media {{/str}}">
                                {{#langsinstalled}}
                                    <option value="{{code}}" {{#default}}selected="selected"{{/default}}>{{lang}}</option>
                                {{/langsinstalled}}
                            </optgroup>
                            <optgroup label="{{#str}} languagesavailable, tiny_media {{/str}} ">
                                {{#langsavailable}}
                                    <option value="{{code}}">{{lang}}</option>
                                {{/langsavailable}}
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="w-100" for="track-input">{{#str}} label, tiny_media {{/str}}</label>
                        <input id="track-input" class="form-control {{CSS.TRACK_LABEL_INPUT}}" type="text"/>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input {{CSS.TRACK_DEFAULT_SELECT}}"/>
                        <label class="form-check-label">{{#str}} default, tiny_media {{/str}}</label>
                    </div>
                    <div class="addcomponent-wrapper">
                        <a href="#" class="addcomponent">
                            {{#str}} addmetadatatrack, tiny_media {{/str}}
                        </a>
                    </div>
                    <div class="removecomponent-wrapper hidden">
                        <a href="#" class="removecomponent">
                            {{#str}} remove, tiny_media {{/str}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>
