{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/footer

    Page footer.

    Example context (json):
    {
        "output": {
            "page_doc_link": "Documentation for this page",
            "supportemail": "<a href=\"#\">Contact site support</a>",
            "has_popover_links": true,
            "services_support": "Services and support",
            "login_info": "You are logged in as cute kitten",
            "moodle_release": "90210",
            "has_communication_links": true,
            "communication_url": "https://element:8081/#/room/#yourroom:synapse",
            "communication_link": "<a href=\"#\">Communication room</a>"
        }
    }
}}

<footer id="page-footer" class="footer-popover bg-white">
    <div class="container my-4">
        <form class="d-flex flex-column gap-3">
            <div class="d-flex flex-column flex-md-row gap-3 align-items-md-center">
                <div class="flex-fill">
                    {{#react}}
                        {
                        "component": "@moodle/react/components/Input",
                        "props": {
                            "name": "input1",
                            "placeholder": "input 1",
                            "className": "form-control",
                            "label": "Input 1",
                        }
                    }
                    {{/react}}
                </div>
                <div class="flex-fill">
                    {{#react}}
                    {
                        "component": "@moodle/react/components/Input",
                        "props": {
                            "name": "input2",
                            "placeholder": "input 2",
                            "className": "form-control",
                            "label": "Input 2",
                        }
                    }
                    {{/react}}
                </div>
                <div class="flex-fill">
                    {{#react}}
                    {
                        "component": "@moodle/react/components/Input",
                        "props": {
                            "name": "input3",
                            "placeholder": "input 3",
                            "className": "form-control",
                            "label": "Input 3",
                        }
                    }
                    {{/react}}
                </div>
                <div class="flex-fill">
                    {{#react}}
                    {
                        "component": "@moodle/react/components/Input",
                        "props": {
                            "name": "input4",
                            "placeholder": "input 4",
                            "className": "form-control",
                            "label": "Input 4",
                        }
                    }
                    {{/react}}
                </div>
                <div class="flex-fill">
                    {{#react}}
                    {
                        "component": "@moodle/react/components/Input",
                        "props": {
                            "name": "input5",
                            "placeholder": "input 5",
                            "className": "form-control",
                            "label": "Input 5",
                        }
                    }
                    {{/react}}
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row gap-3 align-items-md-center">
                <div class="flex-fill">
                    {{#react}}
                    {
                        "component": "@moodle/react/components/Button",
                        "props": {
                            "label": "Button 1",
                            "className": "btn btn-primary",
                            "onClick": "require(['core/notification'], n => n.alert('Button 1', 'Clicked!'))"
                        },
                        "id": "button1"
                    }
                    <p>Loading...</p>
                    {{/react}}
                </div>
                <div class="flex-fill">
                    {{#react}}
                    {
                        "component": "@moodle/react/components/Button",
                        "props": {
                            "label": "Button 2",
                            "className": "btn btn-secondary",
                            "onClick": {
                                "amd": "core/notification",
                                "method": "alert",
                                "args": ["Button 2", "Clicked!"]
                            }
                        },
                        "id": "button2"
                    }
                    <p>Loading...</p>
                    {{/react}}
                </div>
                <div class="flex-fill">
                    {{#react}}
                    {
                        "component": "@moodle/react/components/Button",
                        "props": {
                            "label": "Button 3",
                            "className": "btn btn-warning",
                            "onClick": {
                                "amd": "core/notification",
                                "method": "alert",
                                "args": ["Button 3", "Clicked!"]
                            }
                        },
                        "id": "button3"
                    }
                    <p>Loading...</p>
                    {{/react}}
                </div>
                <div class="flex-fill">
                    {{#react}}
                    {
                        "component": "@moodle/react/components/Button",
                        "props": {
                            "label": "Button 4",
                            "className": "btn btn-success",
                            "onClick": {
                                "amd": "core/notification",
                                "method": "alert",
                                "args": ["Button 4", "Clicked!"]
                            }
                        },
                        "id": "button4"
                    }
                    <p>Loading...</p>
                    {{/react}}
                </div>
                <div class="flex-fill">
                    {{#react}}
                    {
                        "component": "@moodle/react/components/Button",
                        "props": {
                            "label": "Button 5",
                            "className": "btn btn-info",
                            "onClick": {
                                "amd": "core/notification",
                                "method": "alert",
                                "args": ["Button 5", "Clicked!"]
                            }
                        },
                        "id": "button5"
                    }
                    <p>Loading...</p>
                    {{/react}}
                </div>
            </div>
        </form>
    </div>
    <div data-region="footer-container-popover">
        {{#output.has_communication_links}}
            <button onclick="window.open('{{output.communication_url}}', '_blank', 'noreferrer')" class="btn btn-icon rounded-circle bg-primary text-white btn-footer-communication" aria-label="{{#str}}communicationroomlink, course{{/str}}">
                {{#pix}}t/messages-o, core{{/pix}}
            </button>
        {{/output.has_communication_links}}
        <button class="btn btn-icon rounded-circle bg-secondary btn-footer-popover" data-action="footer-popover" aria-label="{{#str}}showfooter, theme_boost{{/str}}">
            {{#pix}}e/question, core{{/pix}}
        </button>
    </div>
    <div class="footer-content-popover container" data-region="footer-content-popover">
        {{#output.has_communication_links}}
            <div class="footer-section p-3 border-bottom footer-link-communication">
                <div class="footer-support-link">{{{ output.communication_link }}}</div>
            </div>
        {{/output.has_communication_links}}
        {{# output.has_popover_links }}
            <div class="footer-section p-3 border-bottom">
                {{# output.page_doc_link }}
                    <div class="footer-support-link">{{{ output.page_doc_link }}}</div>
                {{/ output.page_doc_link }}

                {{# output.services_support_link }}
                    <div class="footer-support-link">{{{ output.services_support_link }}}</div>
                {{/ output.services_support_link }}

                {{# output.supportemail }}
                    <div class="footer-support-link">{{{ output.supportemail }}}</div>
                {{/ output.supportemail }}
            </div>
        {{/ output.has_popover_links }}
        <div class="footer-section p-3 border-bottom">
            <div class="logininfo">
                {{{ output.login_info }}}
            </div>
            <div class="tool_usertours-resettourcontainer">
            </div>

            {{{ output.standard_footer_html }}}
            {{{ output.standard_end_of_body_html }}}
        </div>
        <div class="footer-section p-3">
            <div>{{#str}}poweredbymoodle, core{{/str}}</div>
            {{#output.moodle_release}}
                <div>
                    {{#str}}version, core{{/str}} {{{ output.moodle_release }}}
                </div>
            {{/output.moodle_release}}
        </div>
    </div>

    <div class="footer-content-debugging footer-dark bg-dark text-light">
        <div class="container-fluid footer-dark-inner">
            {{{ output.debug_footer_html }}}
        </div>
    </div>
</footer>
{{#js}}
require(['theme_boost/footer-popover'], function(FooterPopover) {
    FooterPopover.init();
});
{{/js}}
