{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_bibliography/footer/insert_bibliography_footer

    Insert bibliography footer template.

    Example context (json):
    {
        "elementid": "id",
        "isInsertThumbnail": false,
        "showDropzone": true,
        "showFilePicker": true
    }

}}
<div class="row">
    <div class="col-4 align-items-center p-0">
        <div class="checkbox {{^isInsertBibliography}}d-none{{/isInsertBibliography}}" id="show-all-field-container">
            <input type="checkbox" id="id_other_fields" data-action="show-other-fields">
            <label for="id_other_fields">
                {{#str}} label:all_fields, tiny_bibliography {{/str}}
            </label>
        </div>
    </div>
    <div class="col-8 text-end md-0 p-0">
        <div class="d-flex flex-wrap justify-content-end gap-1" id="id-button-container">
            <button type="button" class="btn btn-secondary" data-action="cancel">
                {{#str}} button:cancel, tiny_bibliography {{/str}}
            </button>
            <button class="btn btn-warning" data-action="reset-bibliography-form">
                {{#str}} button:reset, tiny_bibliography {{/str}}
            </button>
            <button class="btn btn-secondary" data-action="back-to-bibliography-list">
                {{#str}} modal_title:bibliography, tiny_bibliography {{/str}}
            </button>
            <button class="btn btn-primary {{^isInsertBibliography}}d-none{{/isInsertBibliography}}" data-action="generate-list">
                {{#str}} button:generate, tiny_bibliography {{/str}}
            </button>
        </div>
    </div>
</div>
