<h3>Local multiple React mount test</h3>

<h4>Component A</h4>
{{#react}}
{
  "component": "@local_multiplereact/local_multiplereact_test",
  "props": {
    "who": "{{who}}"
  },
  "id": "local-multiplereact-a",
  "class": "p-3 border rounded mb-3"
}
<p>Loading component A...</p>
{{/react}}

<h4>Component B</h4>
{{#react}}
{
  "component": "@local_multiplereact/local_multiplereact_counter",
  "props": {
    "initial": 5
  },
  "id": "local-multiplereact-b",
  "class": "p-3 border rounded mb-3"
}
<p>Loading component B...</p>
{{/react}}

<h4>Component C</h4>
{{#react}}
{
  "component": "@local_multiplereact/local_multiplereact_message",
  "props": {
    "message": "Hello from Mustache"
  },
  "id": "local-multiplereact-c",
  "class": "p-3 border rounded mb-3"
}
<p>Loading component C...</p>
{{/react}}

<h4>Component D</h4>
{{#react}}
{
  "component": "@local_multiplereact/local_multiplereact_button",
  "props": {
    "label": "Click me",
    "message": "This popup was triggered from React + AMD core/notification"
  },
  "id": "local-multiplereact-d",
  "class": "p-3 border rounded"
}
<p>Loading component D...</p>
{{/react}}
