{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_bibliography/bibliography_form

    Display a bibliography form
}}

<div class="tab-content row mt-2" id="{{id}}_tiny_bibliography_form">
    <div class="col-md-12 {{^isInsertBibliography}}d-none{{/isInsertBibliography}}" id="bibliography-form-container">
        <form id="bibliography-form" onsubmit="return false;">
            {{> tiny_bibliography/style_resource }}
            <div class="biblio-pannel" id="main-input-fields">
                {{> tiny_bibliography/forms/field }}
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <div class="biblio-pannel biblio-bottom-pannel mt-3 {{^isInsertBibliography}}d-none{{/isInsertBibliography}}" id="bibliography-ie-panel"></div>
    </div>
    <div class="col-md-12 {{#isInsertBibliography}}d-none{{/isInsertBibliography}}" id="bibliography-list-outer-modal-container">
        <div class="biblio-list-container" id="bibliography-list-modal-container">
            <h3 class="mb-4">
                <span>{{#str}} pluginname, tiny_bibliography {{/str}}</span>
            </h3>
            {{> tiny_bibliography/no_bibliography }}
        </div>
    </div>
</div>
